.main-container{
    width: 980px;
    min-height:500px;
    margin: 0px auto;
    padding: 10px;
}

@media screen and (max-width: 768px) and (min-width: 320px){
    .main-container {
        width: auto;
    }
}